body {
	text-align:center;
	background-image : url("../images/oldpaper.jpg");
	background-size : cover;
	background-attachment: fixed;
}

@font-face {
	font-family: 'olde-scripte';
		src: url("../fonts/wonderland.ttf") format('truetype');
}
	
p {
	font-size: 3vw;
	font-family: 'olde-scripte';
}
